<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CurChat</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link th:href="@{css/signin.css}" rel="stylesheet">

    <script type="javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="javascript" src="webjars/popper.js/1.14.3/dist/popper.min.js"></script>
    <script type="javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="javascript" th:src="@{main.js}"></script>
</head>
<body>
<form class="form-signin text-center">
    <img class="mb-4" src="https://cdn2.iconfinder.com/data/icons/money-21/771/money_talk_chat_business_deal_exchange_currency-512.png" alt="" width="120" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUser" class="sr-only">User name</label>
    <input type="text" id="inputUser" class="form-control" placeholder="User name" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
</body>
</html>