<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>CurChat</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/select2/4.0.5/css/select2.min.css">
    <link rel="stylesheet" href="webjars/select2-bootstrap-theme/0.1.0-beta.10/dist/select2-bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/1.14.3/dist/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/sockjs-client/1.1.5/dist/sockjs.min.js"></script>
    <script type="text/javascript" src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="webjars/select2/4.0.5/js/select2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div id="username-page" class="form-signin">
    <form id="usernameForm" class="text-center">
        <img class="mb-4" src="images/logo.png" alt="" width="120" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUser" class="sr-only">User name</label>
        <input type="text" id="name" class="form-control" placeholder="User name" required="" autofocus="">
        <select id="currency">
          <option th:each="c : ${T(java.util.Currency).getAvailableCurrencies()}" th:value="${c.getCurrencyCode()}" th:text="${c.getSymbol()}"></option>
        </select>
        <button id="sign-in" class="btn btn-lg btn-primary btn-block username-submit" type="button">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2018</p>
    </form>
</div>
<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                  <select id="message-type" data-width="100">
                    <option value="CHAT">Text</option>
                    <option value="SALE">Sell</option>
                    <option value="PURCHASE">Buy</option>
                  </select>
                  <input type="text" id="message" style="width:100px" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                  <input type="number" id="amount" style="width:100px" placeholder="Type an amount..." autocomplete="off" class="form-control"/>
                  <input type="number" id="rate" style="width:100px" step="0.01" placeholder="Type a rate..." autocomplete="off" class="form-control"/>
                  <div class="input-group clearfix" id="message-currency" style="width:100px">
                    <select>
                      <option th:each="c : ${T(java.util.Currency).getAvailableCurrencies()}" th:value="${c.getCurrencyCode()}" th:text="${c.getSymbol()}"></option>
                    </select>
                  </div>
                  <button id="send-button" type="button" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
